
html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: auto;
    -moz-osx-font-smoothing: auto;
}

.a {
    color: white;
    font-size: 25px;
}

.a:hover {
    text-decoration: none;
    color: white;

}

li {
    list-style: none;
}

i {
    font-size: 45px;
    margin: 10px;
    color: white;
}

.menu {
    overflow: hidden;
    z-index: 10;
    height: 0;
    transition: all .5s;
    position: fixed;
    overflow-y: auto;
    overflow-x: auto;
    -ms-overflow-x: auto;
    -ms-overflow-y: auto;
}

.hamburger {
    overflow: hidden;
    position: fixed;
    cursor: pointer;
    z-index: 11;
    opacity: 0.9;
    overflow-y: auto;
}

.menu {
    overflow-y: auto;
    height: 100vh;
    opacity: 0.9;
}

.check {
    opacity: 0;
}

.hamburger {
    overflow: hidden;
    opacity: 0;
}

.hamburger {
    transition: all .5s;
    transform: rotate(0deg);
}


.check:checked + .hamburger {
    transition: all .5s;
    transform: rotate(90deg);
}

.check:checked + .hamburger .active1 {
    transition: all .5s;
    transform-origin: left;
    transform: rotate(18deg);
}

.check:checked + .hamburger .active2 {
    transition: all .5s;
    transform-origin: left;
    transform: rotate(-18deg);
}

.menu-line {
    z-index: 10;
    transition: all .5s;
    background: #707070;
    height: 3px;
    width: 3%;
    display: block;
    margin: 5px 0;
    min-width: 25px;
}

.user {
    font-size: 10rem;
}

.box {
    background: url("../image/161.jpg") center, no-repeat;
    background-size: cover;
    height: 100vh;
    -webkit-background-image: url("../image/161.jpg");
    -webkit-background-size: cover;
    -webkit-mask-repeat: no-repeat;
}

.about {
    min-width: 370px;
    transition: all .5s;
    width: 75.8%;
    margin-right: 0;
}

.about-text {
    min-width: 290px;
}

.box > div {
    opacity: 0.9;
    min-width: 255px;
}

.services-box {
    transition: all .5s;
    width: 75%;
    margin-right: 0;
    min-width: 375px;
    background: #66CBB4;
}

.services-box-svg {
    position: relative;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    display: inline-block;
}

.i-svg {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 80px;
    overflow: hidden;
}

.i-svg > svg:hover {
    transition: all .5s;
    transform: scale(1.2);
}

.i-svg > svg {
    transition: all .5s;
    height: 100px;
    width: 100%;
}

.services-coll {
    min-width: 250px;
}

.i-svg:hover {
    transition: all 1s;
}

.services-box-svg > i {
    /*height: 100px;
    /*width: 70%;*/
    /*margin-top: 30px;*/
}

.services-box-svg > img {
    /*margin-top: 20px;*/
}

.about-bg {
    /*background: url(../image/who_we_are.png) no-repeat center;*/
    /*background-size: 100%;*/
    height: 117vh;
}

.fa-globe {
    font-size: 5rem;
}

.contact {
    transition: all .5s;
    min-width: 375px;
    width: 84%;
    margin-right: 0;
}

.service {

}

#msg {
    line-height: 5px;
    visibility: hidden;
}

.about-box {
    min-width: 345px;
    width: 70%;
    margin: 0 auto;
}

.contact-title {
    color: #4D9584;
}

.inp {
    border-top: 0 solid;
    border-left: 0 solid;
    border-right: 0 solid;
}

.inform {
    color: #4D9584;
    font-size: 35px;
}

.f-text {
    width: 85%;
}

@media all and (max-width: 980px) {
    .menu {
        height: 0;
    }

    .hamburger {
        opacity: 0.9;
    }

    .check:checked + .hamburger + .closed {
        height: 100vh;
    }

    .check:checked + .menu {
        transition: all 1s;
        opacity: 0.9;
        visibility: visible;
    }

    .contact-us {
        flex-direction: column;
    }

    .contact-us-box {
        width: 100%;
    }

    .sec-box {
        width: 100%;
        margin: 0 auto;
    }

    .f-text {
        width: 100%;
    }
}


.error {
    border: 1px solid red;
}